.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 768px;
  margin: 0 auto;
}


@media (min-width: 768px) {
  .submitSection {
    text-align: end;
    width: 700px;
  }
}

.submitBtn {
  color: white;
  background-color: green;
  border: 1px solid black;
  border-radius: 0.4rem;
  box-shadow: 5px 10px 5px grey;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.4rem 1rem;
  width: 10rem;
  cursor: pointer;
}

.submitBtn:hover {
  color: green;
  background-color: white;
}

.submitBtn:active {
  transform: translateY(2px);
}
