.pageControl {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  margin-top: 32px;
}

.pageControl button {
  font-size: 1.2rem;
  font-weight: bold;
  width: 8rem;
  padding: 0.5rem 1rem;
  background-color: white;
  border: 1px solid black;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 5px 10px 5px grey;
}

.pageControl button:hover {
  color: color;
  background-color: lightgray;
}

.pageControl button:active {
  transform: translateY(2px);
}

.pageControl button:disabled {
  cursor: default;
  pointer-events: none;
}

.pageControl span {
  font-size: 24px;
}

@media (min-width: 768px) {

  .pageControl {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0 10%;
  }
}
